In [2]:
import pandas as pd

In [3]:
# Simulando os dados das tabelas como DataFrames
customer_orders = pd.DataFrame({
    "order_id": [1, 2, 3],
    "customer_name": ["John Doe", "Jane Smith", "Alice Johnson"],
    "customer_id": [1, 2, 3]
})

address_details = pd.DataFrame({
    "address_id": [1, 2, 3, 4, 5, 6],
    "order_id": [1, 2, 3, 1, 2, 3],
    "address": ["123 Main Street", "456 Maple Avenue", "789 Elm Road", "-", "", "SOME ADDRESS"],
    "state": ["NY", "CA", "TX", "NY", "CA", "TX"],
    "country": ["USA", "USA", "USA", "USA", "USA", "USA"],
    "zip_code": ["10001", "90001", "75001", "10002", "90002", "75002"]
})

In [5]:
address_details["address_length"] = address_details["address"].str.len()

result = (
    customer_orders
    .merge(address_details, on="order_id")
    .query("address_length >= 5 and address not in ['-', '', 'SOME ADDRESS']")
    .sort_values(by="order_id")
)

In [6]:
result

,order_id,customer_name,customer_id,address_id,address,state,country,zip_code,address_length
0,1,John Doe,1,1,123 Main Street,NY,USA,10001,15
2,2,Jane Smith,2,2,456 Maple Avenue,CA,USA,90001,16
4,3,Alice Johnson,3,3,789 Elm Road,TX,USA,75001,12